/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --foreground-head: #009edd;
  --foreground-head-dark: #08749f;
  --foreground-muted: #707172;
}

html {
  overflow: hidden scroll;
  scroll-behavior: smooth !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
  color: var(--foreground-head);
  margin: 5px auto;
}

main {
  display: flex;
  flex-direction: column;
  background: var(--background-main);
  border-radius: 10px;
  gap: 20px;
  width: 90%;
  margin: 10px auto;
  padding: 1rem 20px;
}

.link {
  text-decoration-line: none;
  text-decoration-thickness: 0;
  color: var(--foreground);
}

.logo {
  margin-top: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f5f5f5;
    --background: #383b3d;
    --background-muted: #2a2c2e;
    --background-main: #222425;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: #222425;
    --background: #c3c4c4;
    --background-muted: #e3e3e3;
    --background-main: #f5f5f5;
  }
}

body[data-theme="dark"] {
  --foreground: #f5f5f5;
  --background: #383b3d;
  --background-muted: #2a2c2e;
  --background-main: #222425;
}

body[data-theme="light"] {
  --foreground: #222425;
  --background: #c3c4c4;
  --background-muted: #e3e3e3;
  --background-main: #f5f5f5;
}

.brand {
  font-family: Brush Script MT, Lucida Handwriting, Brush Script Std, cursive;
  font-variant: normal;
}

.brand_model {
  font-family: Lucida Handwriting, Brush Script MT, Brush Script Std;
  font-variant: normal;
}

@media (max-width: 420px) {
  .brand_model {
    display: none;
  }
}
