.hero_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  width: 100%;
}

.hero_image {
  background-image: url("/media/imageToText.png");
  background-size: cover;
  background-position: center;
  background-clip: border-box;
  width: 80%;
  height: 50vh;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 15px;
}

.input_container,
.problem_container {
  width: 80%;
  margin: 24px auto;
}

.input_container > *:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 100px 0 0;
  height: 200px !important;
  max-width: 100% !important;
  border-radius: 10px;
  border: 2px dashed var(--foreground-muted);
  color: var(--foreground);
  cursor: pointer;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  margin-top: 5px;
}

.input_container > *:nth-child(2):hover {
  background: var(--background-muted);
  border-color: var(--foreground);
}

.input_container > *:nth-child(2):hover * {
  color: var(--foreground-head);
}

.input_container_mobile {
  display: none;
}

.input_button[type="file"] {
  width: 350px;
  max-width: 100%;
  color: var(--foreground-muted);
  padding: 5px;
  background: var(--background);
  border-radius: 10px;
  border: 1px solid var(--foreground-muted);
}

.input_button[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: var(--foreground-head);
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--foreground);
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.input_button[type="file"]::file-selector-button:hover {
  background: var(--foreground-head-dark);
}

.problem_container form {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.problem_container form textarea {
  width: 100%;
  border: 1px solid var(--foreground-muted);
  border-radius: 5px;
  color: var(--foreground);
  background-color: var(--background-muted);
  box-shadow: inset 0 0 5px -2px var(--foreground);
}

.problem_container form button {
  background-color: var(--foreground-head);
  border-radius: 5px;
  color: var(--foreground);
}

.problem_container form button:hover {
  background-color: var(--foreground-head-dark);
}

.problem_container input,
.solution {
  text-align: left;
  height: fit-content;
  border: 1px solid var(--foreground-muted);
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.solution_container {
  width: 100%;
  margin: auto;
}

@media (max-width: 420px) {
  .hero_wrapper {
    flex-direction: column;
    gap: 0;
  }

  .input_container {
    display: none;
  }

  .input_container_mobile {
    display: block;
    margin: 10px auto;
    width: 300px;
  }

  .input_container,
  .problem_container {
    width: 100%;
  }

  .problem_container form {
    flex-direction: column;
  }
}
