.heroWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  width: 100%;
}

.heroImage {
  background-image: url(/media/imageToText.png);
  background-size: cover;
  background-position: center;
  background-clip: border-box;
  width: 80%;
  height: 50vh;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 15px;
}

.inputContainer {
  width: 70%;
  min-width: 400px;
  margin: 24px auto;
}

.inputContainer > span {
  font-weight: 600;
  font-size: 20px;
  color: var(--foreground-head);
  text-align: center;
}

.inputContainer > *:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 100px 0 0 0;
  height: 200px !important;
  max-width: 100% !important;
  border-radius: 10px;
  border: 2px dashed var(--foreground);
  color: var(--foreground);
  cursor: pointer;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  margin-top: 5px;
}

.inputContainer > *:nth-child(2):hover {
  background: var(--background-muted);
  border-color: var(--foreground-muted);
}

.inputContainer > *:nth-child(2):hover * {
  color: var(--foreground-head);
}

.inputContainerMobile {
  display: none;
}

.inputButton[type="file"] {
  width: 350px;
  max-width: 100%;
  color: var(--foreground-muted);
  padding: 5px;
  background: var(--background);
  border-radius: 10px;
  border: 1px solid var(--foreground-muted);
}

.inputButton[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: var(--foreground-head);
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--foreground);
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.inputButton[type="file"]::file-selector-button:hover {
  background: var(--foreground-head-dark);
}

@media (max-width: 420px) {
  .heroWrapper {
    flex-direction: column;
    gap: 0;
  }

  .inputContainer {
    display: none;
  }

  .inputContainerMobile {
    display: block;
    margin: 10px auto;
    width: 300px;
  }
}

.solution,
.problem {
  text-align: left;
  height: fit-content;
  background-color: var(--background-muted);
  border: 1px solid var(--foreground-muted);
  border-radius: 5px;
  box-shadow: inset 0 0 5px -2px var(--foreground);
  margin: -15px auto 0 auto;
  padding: 10px;
  overflow-x: scroll;
  scrollbar-width: none;
}
