.about {
  text-align: justify;
}

.about h2 {
    text-align: center;
}

.content{
  margin-bottom: 30px;
}

.teamWrapper {
    margin: 30px auto;
}

.teamWrapper h2 {
  margin-bottom: 25px;
}

.teamContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  align-content: space-evenly;
  gap: 22px;
}

.personContainer {
  width: 20%;
  min-width: 300px;
  padding: 1rem 0.5rem;
  justify-content:center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 6px 1px var(--foreground-muted);
  border-radius: 16px;
}

.personImg {
    border-radius: 50%;
}

.personInfo *{
    margin-bottom: -10px;
}

.future {
  margin-top: 30px;
}

@media (max-width: 1494px) {
  .teamContainer > div:first-child {
    order: 1;
  }
}

@media (max-width: 1118px) {
  .teamContainer {
    flex-wrap: wrap;
  }

  .teamContainer > div:first-child {
    order: -1;
  }
}
