.about {
  text-align: justify;
}

.about h2 {
  text-align: center;
}

.content {
  margin-bottom: 30px;
}

.team_wrapper {
  margin: 30px auto;
}

.team_wrapper h2 {
  margin-bottom: 25px;
}

.team_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  align-content: space-evenly;
  gap: 22px;
}

.person_container {
  width: 20%;
  min-width: 300px;
  padding: 1rem 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 6px 1px var(--foreground-muted);
  border-radius: 16px;
}

.person_img {
  border-radius: 50%;
}

.person_info * {
  margin-bottom: -10px;
}

.future {
  margin-top: 30px;
}

@media (max-width: 1494px) {
  .team_container > div:first-child {
    order: 1;
  }
}

@media (max-width: 1118px) {
  .team_container {
    flex-wrap: wrap;
  }

  .team_container > div:first-child {
    order: -1;
  }
}
