.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  width: 90%;
  background-color: var(--background);
  border: 2px solid var(--foreground);
  border-radius: 1rem;
  margin: 0 auto;
  padding: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.navbbarContainer nav,
.logoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 12px;
}

/*Background color toggle button*/
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-main);
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 1px;
  background-color: var(--foreground-head);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  transform: translateX(19px);
}

@media (max-width: 420px) {
  .logoContainer {
    gap: 0px;
  }
  
  .navbarContainer {
    height: 40px;
  }
}
